/* Screen width breakpoints */
$screen_xsm_min: 320px;
$screen_sm_min: 390px;
$screen_md_min: 768px;
$screen_lg_min: 1440px;

/* Grid */
$grid_columns_count: 12;
$grid_gutter_x: 16px;
$grid_gutter_x_lg: 40px;
